* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    height: 100vh;
    font-family: poppins;
    line-height: 1.3;
    /* overflow: hidden; */
}

.arrow-png {
    height: 80px;
}

/* general */

.primary-header {
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;

    position: relative;
    z-index: 1;

    height: 6rem;
}

.primary-header a {
    color: black;
}

.primary-nav-container {
    transition: all .5s;
}

.primary-navigation {
    gap: clamp(2rem, 7vw, 5rem);
}

nav {
    margin-left: 20%;
}

.menu-icon {
    display: none;
}

.col {
    /* height: 100%; */
}

/* navigation */

@media (max-width: 700px) {
    .primary-nav-container {
        display: block;
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        background-color: aliceblue;
    }

    .primary-nav-container[visiblity="false"] {
        transform: translateX(100%);
    }

    .primary-nav-container[visiblity="true"] {
        transform: translateX(0%);
    }


    .primary-navigation {
        flex-direction: column;
        padding: 6rem 2rem;
    }

    .primary-navigation>li {
        border-bottom: 1px solid black;
    }

    .login-btn {
        display: none;
    }

    .menu-icon {
        display: block;
        /* height: 50px; */
        aspect-ratio: 1;
        letter-spacing: -2px;
        z-index: 999;
        background-color: aqua;
        font-size: 1.2rem;

        transition: all .5s;
    }

    .menu-icon[opened="false"] {
        transform: rotateZ(80deg);
        position: relative;
    }

    .menu-icon[opened="true"] {
        transform: rotateZ(150deg);
        position: fixed;
        top: 2rem;
        right: 2rem;
    }

    .right>ul {
        font-size: 1rem;
    }
}

/* body general */

.main-container {
    display: grid;
    grid-template-columns: calc(30% - .7rem) calc(40% - .7rem) 30%;
    height: calc(100vh - 6rem);
    gap: .7rem;
    /* background-color: aqua; */
}

@media (max-width: 1200px) {
    .main-container {
        grid-template-areas:
            "col-1 col-1"
            "col-2 col-3"
        ;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
    }

    .col-1 {
        grid-area: col-1;
    }

    .col-2 {
        grid-area: col-2;
    }

    .col-3 {
        grid-area: col-3;
    }
}

/* col-1 */

.col-1-content {
    display: flex;
    padding-left: 40%;
    padding-top: 20%;
    padding-bottom: 10%;
}

.col-1-content>.left {
    width: 2.3rem;
}

.col-1-content .women {
    transform: rotate(90deg);
    height: fit-content;
    margin-top: 30%;
}

.women>span {
    font-size: 1.3rem;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .col-1-content {
        padding: 1rem 0 2rem 0;
        padding-left: 10%;
        padding-right: 25%;
        justify-content: space-between;
        gap: 2rem;
    }

    .col-1-content>.left {
        width: unset;
    }

    .col-1-content>.right {
        transform: rotate(-10deg);
    }

    .col-1-content .women {
        transform: rotate(0deg);
        height: 100%;
        margin-top: 0%;
        display: flex;
        align-items: center;
    }

    .women>span {
        font-size: 4rem;
        line-height: 1.2;
        opacity: .6;
    }
}

@media (max-width: 700px) {
    .women>span {
        font-size: 3.5rem;
    }

    html,body {
        font-size: 85%;
    }

    nav {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .women>span {
        font-size: 3srem;
    }

    html,body {
        font-size: 75%;
    }
}


/* col 2 */

.col-2-top {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 70vh;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.arrow-top {
    margin-top: 4rem;
    transform: rotateZ(180deg);
    width: 7rem;
}

.col-2-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: .5rem;
}

.ratio {
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    margin-top: auto;
}

.ratio>span {
    font-size: 10rem;
    opacity: .2;
    /* background-color: antiquewhite; */
}

@media (max-width: 1200px) {
    .col-2-top {
        display: grid;
        grid-template-columns: 1fr;
        height: unset;
    }
}

/* col 3*/

.col-3 {
    display: flex;
    /* background-color: antiquewhite; */
}

/* footer */

body {
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 50%;
    opacity: .5;
}

.footer>nav {
    margin: 0%;
    padding: 1rem;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .footer {
        position: unset;
        width: 100%;
        opacity: 1;
        background-color: aliceblue;
    }

    .footer>nav {
        padding: 2rem;
    }
}


/* images */

.background-img-1 {
    background-image: url(./images/img1.jpg);

    height: 250px;
    width: 100%;
    background-size: cover;
    margin-top: auto;
}

.background-img-2 {
    background-image: url(./images/img2.jpg);

    position: absolute;
    bottom: 0;
    height: 130%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: auto;
}

@media (max-width: 1200px) {
    .background-img-2 {
        position: unset;
        min-height: 25rem;
    }

    .background-img-1 {
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.background-img-3 {
    background-image: url(./images/image-3.jpg);

    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: auto;
}


/* utils */

.flex {
    display: flex;
}

.relative-box {
    position: relative;
}

/* text */

h1 {
    font-size: 22px;
    line-height: 1.1;
    text-align: end;
    /* margin-top: auto; */
}

.col-2-bottom {
    text-align: end;
    font-size: 12px;
}